In [10]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime, 
%matplotlib inline

In [4]:
asx_path = Path("ASX 200.csv")

In [18]:
def parse(x):
    return datetime.strptime(x, '%Y %m %d')

In [21]:
asx200 = pd.read_csv(asx_path, parse_dates=True, index_col=0)

In [22]:
asx200.head()

                      Close
Date
2006-05-31 16:00:00  5001.7
2006-06-10 16:00:00  5220.7
2007-03-14 16:00:00  5741.9
2007-02-07 16:00:00  6263.3
2007-10-24 16:00:00  6634.4

In [24]:
asx200.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3730 entries, 2006-05-31 16:00:00 to 2022-05-08 16:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3730 non-null   float64
dtypes: float64(1)
memory usage: 58.3 KB

In [28]:
asx200.index = asx200.index.date

In [29]:
asx200

             Close
2006-05-31  5001.7
2006-06-10  5220.7
2007-03-14  5741.9
2007-02-07  6263.3
2007-10-24  6634.4
...            ...
2022-01-08  6993.0
2022-02-08  6998.1
2022-03-08  6975.9
2022-04-08  6974.9
2022-05-08  7015.6

[3730 rows x 1 columns]