In [90]:
# Import library
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd

In [91]:
html_text = requests.get('https://www.macrotrends.net/1333/historical-gold-prices-100-year-chart').text

In [127]:
soup = BeautifulSoup(html_text, 'lxml')
div = soup.find('div', class_ = 'col-xs-9', style="margin-bottom:200px;")
div_1 = div.find(id="style-1")
tb = div_1.find('table', class_ = 'table')
gold_price = tb.find('tbody')

Year = []
Price = []

for row in gold_price.find_all('tr'):    
    Year.append((row.find(style ="text-align:center").text))
    Price.append((row.find(style ="text-align:center;").text))

gold = pd.DataFrame(data = {'Year' : Year, 'Gold Price' : Price}, columns=['Year', 'Gold Price'])
gold.set_index(['Year']).sort_index()

     Gold Price
Year
1969     $41.10
1970     $35.96
1971     $40.80
1972     $58.17
1973     $97.12
1974    $158.76
1975    $160.87
1976    $124.80
1977    $147.84
1978    $193.57
1979    $307.01
1980    $614.75
1981    $459.16
1982    $376.11
1983    $423.71
1984    $360.65
1985    $317.42
1986    $368.20
1987    $446.84
1988    $436.78
1989    $381.27
1990    $383.73
1991    $362.34
1992    $343.87
1993    $360.05
1994    $384.16
1995    $384.07
1996    $387.73
1997    $331.00
1998    $294.12
1999    $278.86
2000    $279.29
2001    $271.19
2002    $310.08
2003    $363.83
2004    $409.53
2005    $444.99
2006    $604.34
2007    $696.43
2008    $872.37
2009    $973.66
2010  $1,226.66
2011  $1,573.16
2012  $1,668.86
2013  $1,409.51
2014  $1,266.06
2015  $1,158.86
2016  $1,251.92
2017  $1,260.39
2018  $1,268.93
2019  $1,393.34
2020  $1,773.73
2021  $1,798.89
2022  $1,850.53