In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime 
%matplotlib inline

In [3]:
sp500_path = Path("S&P500_return.csv")

In [16]:
sp500_return = pd.read_csv(Path("S&P500_return.csv"))
sp500_return.head()

    Month Return (%)  Unnamed: 2  Unnamed: 3  Unnamed: 4
0  Jan-60     -3.61%         NaN         NaN         NaN
1  Feb-60     -1.08%         NaN         NaN         NaN
2  Mar-60      1.58%         NaN         NaN         NaN
3  Apr-60     -0.62%         NaN         NaN         NaN
4  May-60      3.99%         NaN         NaN         NaN

In [17]:
sp500_return.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)
sp500_return.head()

    Month Return (%)
0  Jan-60     -3.61%
1  Feb-60     -1.08%
2  Mar-60      1.58%
3  Apr-60     -0.62%
4  May-60      3.99%