In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime 
%matplotlib inline

In [3]:
sp500_path = Path("S&P 500 - Sheet1.csv")

In [4]:
def parse(x):
    return datetime.strptime(x, '%Y %m %d')

In [6]:
sp500 = pd.read_csv(sp500_path, parse_dates=True, index_col=0)

In [7]:
sp500.head()

                     Close
Date
1970-02-01 16:00:00  93.00
1970-05-01 16:00:00  93.46
1970-06-01 16:00:00  92.82
1970-07-01 16:00:00  92.63
1970-08-01 16:00:00  92.68

In [8]:
sp500.index = sp500.index.date

In [9]:
sp500

              Close
1970-02-01    93.00
1970-05-01    93.46
1970-06-01    92.82
1970-07-01    92.63
1970-08-01    92.68
...             ...
2022-01-08  4118.63
2022-02-08  4091.19
2022-03-08  4155.17
2022-04-08  4151.94
2022-05-08  4145.19

[13306 rows x 1 columns]